.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}
.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}
.menu-area {
  display: flex;
  justify-content: center;
}

.search-box {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 20px;
}

.upper-search {
  align-items: right;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}
